<template>
   <layout>
      <div class="container-fluid home-container">
         <div class="image"><img src="/assets/img/logo-vue.png" alt="Vue Logo"></div>

         <h1>Welcome to start</h1>
         <p>Это стартовая сборка <strong>Webpack 5</strong> для проектов на <strong>Vue 2</strong> и <strong>TypeScript</strong>. Здесь уже собраны некоторые полезные инструменты для удобной работы. Данная сборка не окончательная, если у вас есть полезные дополнения, давайте их добавим! </p>
         
         <div class="tags">
            <a href="https://webpack.js.org/" target="_blank" class="tag">Webpack 5 (5.66.0)</a>
            <a href="https://vuejs.org/" target="_blank" class="tag">Vue 2 (2.6.14)</a>
            <a href="https://www.typescriptlang.org/" target="_blank" class="tag">TypeScript</a>
         </div>
      </div>
   </layout>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator"

@Component
export default class PageHomeComponent extends Vue {

}
</script>

<style lang="scss" scoped>

.home-container {
   margin: 30px 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .image {
      margin-bottom: 40px;
      max-width: 200px;
      img {
         max-width: 100%;
         height: auto;
      }
   }

   h1 {
      margin-bottom: 25px;
      font-size: 40px;
      font-weight: 700;
      line-height: 90%;
      color: transparent;    
      background-clip: text;
      background-image: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
      text-align: center;
   }

   p {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      color: #121B23;
      text-align: center;
      max-width: 650px;
      strong {
         font-weight: 600; 
         color: #42b983;   
      }
   }

   /* Tags */
   .tags {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      .tag {
         margin: 5px 10px;
         padding: 12px 30px;
         display: flex;
         font-size: 18px;
         font-weight: 600;
         color: rgb(41, 41, 41);
         text-align: center;
         border-radius: 30px;
         box-shadow: 0 7px 28px rgb(0, 0, 0, 0.05), 0 10px 10px rgb(0, 0, 0, 0.05);
         transition: all 0.2s ease-out;
         &:nth-child(1) {
            background: linear-gradient(90deg, #f598a8, #f6edb2);
         }
         &:nth-child(2) {
            background: linear-gradient(90deg, #cfecd0, #ffc5ca);
         }
         &:nth-child(3) {
            background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
         }

         &:hover {
            transform: translateY(-3px);
         }
      }
   }
}



/* media */

@media all and (max-width: 320px) {
   .home-container  p { font-size: 19px; }
}

@media all and (max-width: 300px) {
   .home-container .tags .tag { padding: 12px 23px; }
}

</style>