<template>
   <h2 class="title">{{ title }}</h2>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator"

@Component
export default class ITitleComponent extends Vue {
   
   @Prop({ type: String, default: '' }) title: string

}
</script>

<style lang="scss" scoped>

.title {
   margin: 0 15px;
   font-size: 23px;
   font-weight: 600;
   line-height: 100%;
   color: #42b983;
   text-align: center;
}

@media all and (max-width: 540px) {
   .title { display: none; }
}

</style>