<template>
   <router-link class="logo" to="/">
      <img src="/assets/img/logo-vue.png" alt="Vue Logo">
      <span>Logo</span>
   </router-link>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator"

@Component
export default class ILogoComponent extends Vue {

}
</script>

<style lang="scss" scoped>

.logo {
   font-size: 35px;
   font-weight: 600;
   text-transform: uppercase;
   color: #121B23;
   display: flex;
   align-items: center;
   img {
      width: 40px;
   }
   span {
      margin-left: 5px;
      display: flex;
   }
}

/* media */
@media all and (max-width: 340px) {
   .logo { font-size: 28px; }
   .logo img { width: 35px; }
}

</style>