<template>
   <div class="social-links">
      <a href="https://www.instagram.com/www_danilarose_www/" target="_blank"><svg><use xlink:href="/assets/img/svg-sprite.svg#icon-instagram"></use></svg></a>
      <a href="https://telegram.im/@danilarose" target="_blank"><svg><use xlink:href="/assets/img/svg-sprite.svg#icon-telegram"></use></svg></a>
      <a href="https://wa.me/+37377946969" target="_blank"><svg><use xlink:href="/assets/img/svg-sprite.svg#icon-whatsapp"></use></svg></a>
   </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator"

@Component
export default class SocialLinksComponent extends Vue {

}
</script>

<style lang="scss" scoped>
.social-links {
      display: flex;
      align-items: center;
      a {
         margin: 0 -3px;
         width: 35px;
         height: 35px;
         display: inline-block;
         svg {
               width: 100%;
               height: 100%;
               fill: #121B23;
               transition: all 0.2s ease-out;
               &:hover {
                  fill: #42b983;
               }
         }
      }
   }
</style>