@import 'com.scss';

* {
   box-sizing: border-box;
}

html, body {
   position: relative;
   height: 100%;
}

body {
   font-family: 'Futura New', sans-serif;
}

a:hover, a:focus, a:active, a {
   text-decoration: none;
   outline: none;
}

input:hover, input:focus, input:active, input, button:hover, button:focus, button:active, button {
   border: none;
   outline: none;
}




.container-fluid {
   max-width: 1100px;
}
   