<template>    
    <header>
        <div class="container-fluid header-container">
            <logo />
            <heading :title="'header component'"/>
            <social-links />
        </div>
    </header>
</template>

<script lang="ts">

import Vue from "vue";
import { Component } from 'vue-property-decorator'

@Component
export default  class LayoutHeaderComponent extends Vue {

    showMenu: boolean = false

    created() {
        this.printSuccessRender("created")
    }

    mounted() {
        this.printSuccessRender("mounted")
    }

    printSuccessRender(message: string) {
        console.info(message);
    }

    /**
     * Открытие мобильного меню
     */
    openMobileMenu() {
        this.showMenu = true
    }

}
    
</script>

<style lang="scss" scoped>

header {
    padding: 15px 0;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

</style>