<template>    
    <footer>
        <div class="container-fluid">
            <nav>
                <logo />
                <heading :title="'footer component'"/>
                <social-links />
            </nav>

            <div class="buttons-group">
                <a href="">GitLab</a>
                <a href="">Website</a>
            </div>

            <a class="email" href="mailto: danila.rose.web@gmail.com">danila.rose.web@gmail.com</a>
        </div>
    </footer>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from 'vue-property-decorator'

@Component
export default  class LayoutFooterComponent extends Vue{
    constructor() {
    super();
        //console.log("FooterComponent created");
    }
}
</script>

<style lang="scss" scoped>

footer {
    padding: 25px 0;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.05);
    width: 100%;
    transition: all 0.2s ease-out;
    .email {
        margin: 0 auto;
        display: flex;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #121B23;
        width: max-content;
        transition: all 0.1s ease-out;
        &:hover {
            color: #42b983;
            text-decoration: underline;
        }
    }
    .buttons-group {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a { 
            margin: 0 10px;
            max-width: 200px;
            width: 100%;
            min-height: 45px;
            font-size: 23px;
            font-weight: 500;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            border: 1px solid transparent;
            box-shadow: 0 7px 28px rgb(0, 0, 0, 0.05), 0 10px 10px rgb(0, 0, 0, 0.05);
            transition: all 0.2s ease-out;
            &:hover {
                transform: translateY(-3px);
            }
            &:nth-child(1) {
                background: #42b983;
                &:hover {
                    background: #39a574;
                }
            }
            &:nth-child(2) {
                background: #121B23;
                color: #fdfdfd;
                &:hover {
                    background: #121b23be;
                    color: #fff;
                }
            }
        }
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


/* media */

@media all and (max-width: 480px) {
   footer .buttons-group { flex-direction: column; align-items: center; }
   footer .buttons-group a { margin: 5px 0; max-width: 70%; }
}

@media all and (max-width: 360px) {
    footer .email { font-size: calc((100vw - 280px)/(360 - 280) * (20 - 17) + 17px); }
    footer .buttons-group a { max-width: 100%; }
}

   
</style>