<template>
  <div id="layout">
    <layout-header/>
    
    <div id="content">
      <slot/>
    </div>

    <layout-footer />
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class LayoutComponent extends Vue {
  //name: "layout"
  constructor() {
    super();
    console.log("LayoutComponent created");
  }
}
</script>

<style lang="scss" scoped>

#layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  
  

</style>
